.card-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  margin: 10px;
}

.card-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.card-text {
  color: black;
}

.card-text span {
  color: rgb(63, 27, 27);
}

@media (max-width: 1220px) {
  .card-component {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .card-component {
    grid-template-columns: 1fr;
  }
}